# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.yaml
!*/
!*.md
!gitupdate.sh
!.travis.yml
!custom_components/**
!www/**

# Ignore files
*.pyc
www/zigbee2mqtt_networkmap/source.js

# Ignore folders.
.storage
.cloud
.google.token
tmp

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
